
.header{
    height: 50px;
    font-size: 50px;

}


            
.navbar-default a{
    font-size: 13px;
    
}


.navbar {
    margin-bottom: 0 !important;
}

* {margin: 0; padding: 0;}

#homesubscribe{
    
float: right;
    
}

#buttoncontainer .ui-btn {
    font-size: 11px;
}

.listset {
  list-style-type: none;
  width: 1000px;
}

.listset h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

.listset li img {
  float: left;
  margin: 0 15px 0 0;
}

.listset li p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}

.listset li {
  padding: 10px;
  overflow: auto;
}

.listset li:hover {
  background: #eee;
  cursor: pointer;
}